.SingleUser {
    background-color: white;
    display: flex;
    margin: 5px;
    // avatar
    .Avatar {
        height: 30px;
        width: 30px;
        background-color: yellow;
        margin-right: 5px;
    }
}