.Login {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // form
    .FormBody {
        height: 450px;
        width: 300px;
        background-color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .InputContainer {
            margin: 20px 0;
            input {
                width: 100%;
                background: white;
                border: 1px solid gray;
                padding: 10px 20px;
            }
        }
        // button
        .ButtonContainer {
            background-color: red;
            button {
                width: 100%;
                background: green;
                color: white;
                border: none;
                padding: 10px 0;
            }
        }
    }
}