.private_chat {
    background-color: #FFFFFF;
    height: calc(100vh - 110px);
    flex-grow: 1;
    margin-top: 110px;
    margin-right: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05), 0px 4px 10px rgba(0, 0, 0, 0.25), 0px 10px 25px rgba(0, 0, 0, 0.05);
    .header {
        display: flex;
        height: 90px;
        background: #FAFBFF;
        align-items: center;
        padding: 28px 30px;
        border-radius: 6px 6px 0px 0px;
        border-bottom: 2px solid rgba(112, 124, 151, 0.1);
        .img {
            margin-right: 20px;
            height: 54px;
            width: 54px;
            background: linear-gradient(to bottom, royalblue, purple);
            border-radius: 50%;
        }
        h2 {
            font-family: TT Norms;
            font-size: 18px;
            line-height: 21px;
            text-transform: capitalize;
            color: #0D1C2E;
        }
        p {
            margin-top: 6px;
            font-family: TT Norms;
            font-size: 16px;
            line-height: 19px;
            /* identical to box height */
            text-transform: lowercase;
            color: #2A8BF2;
        }
    
    }
    .message_box {
        height: 50px;
        width: 100%;
        border-top: 2px solid rgba(112, 124, 151, 0.15);
        display: flex;
        align-items: center;
        input {
            border: none;
            height: 100%;
            flex-grow: 1;
            padding: 10px;
            &::placeholder {
                font-family: "TT Norms";
                line-height: 24px;
                color: rgba(112, 124, 151, 0.5);
            }
            &:focus {
                outline: none;
            }
        }
        button {
            display: inline-block;
            background: none;
            border: none;
            margin-top: 5px;
        }
    }
    .messages_box {
        flex-grow: 1;
        overflow-y: scroll;
        scrollbar-color: #B7BDCB;
        scrollbar-track-color: red;
    }
}